<header class="application__header">
  <span class="application__header-text">Pathfinder App</span>
</header>

{{outlet}}

<footer class="application__footer">
  <span class="application__footer-text">Copyright &copy; 2016 Carmen V. Krol</span>
</footer>
